@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#e7e0d8];
}
input {
  @apply block w-full rounded-md border p-2;
}
.sidebar {
  @apply z-20 h-screen text-white bg-primary;
}

.sidebar > ul {
  @apply mt-8 list-none;
}

.sidebar ul div {
  @apply p-4 font-semibold flex items-center gap-2  cursor-pointer;
}

.topbar {
  @apply p-4 flex items-center justify-between sticky top-0 right-0 z-10 bg-[#e7e0d8];
  position: sticky; /* Ensuring position is sticky */
  top: 0; /* Sticks to the top */
  z-index: 10; /* Higher z-index */
}

.chart-container {
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0);
  @apply shadow shadow-sm;
}

.login-form {
  background: url("../public//login-image.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.table-scroll {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.success {
  margin-top: 8px;
  width: fit-content;
  color: black;
  padding: 8px;
  border-radius: 8px;
  background-color: #d1e7dd;
  color: #0f5132;
  border-color: #badbcc;
}

.error {
  margin-top: 8px;
  width: fit-content;
  color: black;
  padding: 8px;
  border-radius: 8px;
  background-color: #f8d7da;
  color: #842029;
  border-color: #f5c2c7;
}
