@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#f5f5f5] w-screen;
  font-family: "Poppins";
  overflow: hidden;
}
input,
textarea {
  @apply block w-full rounded-md border border-slate-300 p-2 bg-slate-100;
}
.sidebar {
  @apply z-20 h-screen text-white;
  background: #bf6d39;
  background: linear-gradient(135deg, #fc6173, #ff902f);
}

.sidebar > ul {
  @apply mt-8 list-none;
}

.sidebar ul div {
  @apply p-4 font-semibold flex items-center gap-2  cursor-pointer;
}

.sidebar-item {
  @apply p-2 hover:text-black hover:bg-white hover:rounded-ss-full hover:rounded-es-full;
}

.topbar {
  @apply p-2 bg-[#f5f5f5] flex items-center justify-between sticky top-0 right-0 z-10 border-b border-b-2;
  position: sticky; /* Ensuring position is sticky */
  top: 0; /* Sticks to the top */
  z-index: 10; /* Higher z-index */
}

.chart-container {
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(247, 247, 247);
  @apply shadow shadow-md shadow-gray-500;
}

.login-form {
  background: url("../public//login-image.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* .table-scroll {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
} */

.success {
  margin-top: 8px;
  width: fit-content;
  color: black;
  padding: 8px;
  border-radius: 8px;
  background-color: #d1e7dd;
  color: #0f5132;
  border-color: #badbcc;
}

.error {
  margin-top: 8px;
  width: fit-content;
  color: black;
  padding: 8px;
  border-radius: 8px;
  background-color: #f8d7da;
  color: #842029;
  border-color: #f5c2c7;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 8px;
  overflow: hidden; /* Ensures the rounded corners are visible */
}

tbody > tr {
  @apply text-base font-medium text-black;
}

tbody > tr:nth-child(even) {
  background-color: #f2f2f2; /* Light grey */
}

tbody > tr:nth-child(odd) {
  background-color: #ffffff; /* White */
}

table {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
